<template>
  <b-container>
      <b-row>
          <b-col>
              <h1>Let's Play Tic Tac Toe!!!</h1>
          </b-col>
      </b-row>
      <b-row>
          <b-col class="d-flex justify-content-center">
              <h2>It's {{current}}'s turn</h2>
          </b-col>
      </b-row>
      <b-row>
          <b-col class="d-flex justify-content-center">
              <h2 v-if="winner">{{winner}} wins</h2>
          </b-col>
      </b-row>
      <b-row>
          <b-col>
            <template v-for="(row, i) in board">
                <span :key="i" class="gameRow d-flex justify-content-center">
                    <div class="square d-flex align-items-center justify-content-center" v-for="(square, index) in row" :key="index" @click="checkBox(i, index)">
                        <div class="checker">{{sqare}}</div>
                    </div>
                </span>
            </template>
          </b-col>
      </b-row>
  </b-container>
</template>

<script>
export default {
    name: 'HelloWorld',
    data () {
        return {
            board: [
                [null, null, null],
                [null, null, null],
                [null, null, null],
            ],
            current: 'X',
            winner: null,
        };
    },
    methods: {
        async checkBox(row, col) {
            const {board, $bvModal} = this;
            if (!board[row][col]) {
                board[row][col] = this.current;
                this.current = this.current === 'X' ? 'O' : 'X';

                for (let i = 0; i < board.length; i++) {
                    if (board[i].every(t => t === board[i][0] || t === board[board.length - 1])) {
                        this.winer = board[i][0];
                    }
                    if (this.winner) {
                        break;
                    }
                }

                if ((board[0][0] && board[0][0] === board[1][1] && board[1][1] && board[1][1] === board[2][2] && board[2][2]) ||
                (board[0][0] && board[0][0] === board[1][0] && board[1][0] && board[1][0] === board[2][0] && board[2][0])) {
                    this.winner = board[0][0];
                }
                if ((board[0][2] && board[0][2] === board[1][1] && board[1][1] && board[1][1] === board[2][0] && board[2][0]) ||
                (board[0][2] && board[0][2] === board[1][2] && board[1][2] && board[1][2] === board[2][2] && board[2][2])) {
                    this.winner = board[0][2];
                }
                if ((board[0][1] && board[0][1] === board[1][1] && board[1][1] && board[1][1] === board[2][1] && board[2][1])) {
                    this.winner = board[0][1];
                }
                if (this.winner) {
                    await $bvModal.msgBoxOk('Click OK to play again', {
                        title: `${this.winner} Wins!`,
                        size: 'sm',
                        buttonSize: 'sm',
                        centered: true,
                    });
                    this.winner = null;
                    this.board.map(b => b.splice(0, 3, null, null, null));
                }
            }
        },
    },
};
</script>

<style scoped lang="scss">
.square {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    font-size: 6rem;
}

.gameRow {
    &:first-child {
        .square {
            border-top: none;
        }
        .square:first-child {
            border-left: none;
        }
        .square:last-child {
            border-right: none;
        }
    }

    &:nth-child(2) {
        .square:first-child {
            border-left: none;
        }

        .square:last-child {
            border-right: none;
        }
    }

    &:last-child {
        .square {
            border-bottom: none;
        }
        .square:first-child {
            border-left: none;
        }
        .square:last-child {
            border-right: none;
        }
    }
}

.checker {
    cursor: pointer;
}
</style>
